html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
   
}

body {
    background: url('images/bg.jpg') center no-repeat;
    background-size: cover;
    overflow: hidden;
}

#menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#header {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

#head, #highestScore {
    padding: 15px 0;
    font-size: 2rem;
    color: #c16262;
}

#buttons {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

button {
    margin-bottom: 20px;
    background: #80808042;
    font-size: 1.5rem;
    color: #d03434;
    border-color: #00000061;
    transition: transform 0.2s linear;
}

#keyboard {
    color: #ffffff73;
}

#mouse {
    color: #001163;
}

button:hover {
    cursor: pointer;
    transform: scale(2.1);
}


